.navbar-lewagon {
  justify-content: space-between;
  background: #E3E2DE;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fas {
  color: #013354;
}

.fab {
  color: white;
}
